[%# $Id: /local/CPAN/Handel/demo/tt2/includes/footer.tt2 1043 2007-06-24T15:35:46.298350Z claco  $ %]
			</div>
			<div id="footer">
				<p>
					Copyright &#169; 2005 Foo Bar Baz. All rights wronged.  Batteries not included.
					This demo site is part of the <a href="http://search.cpan.org/search?query=Handel&amp;mode=distribution">Handel</a> software distribution.
				</p>
			</div>
		</div>
	</body>
</html>