[%# $Id: footer.tt2 1915 2007-06-24 15:35:46Z claco $ %]
			</div>
			<div id="footer">
				<p>
					Copyright &#169; 2005 Foo Bar Baz. All rights wronged.  Batteries not included.
					This demo site is part of the <a href="http://search.cpan.org/search?query=Handel&amp;mode=distribution">Handel</a> software distribution.
				</p>
			</div>
		</div>
	</body>
</html>