[%# $Id: cart_fetch.tt2 1355 2006-08-07 01:51:41Z claco $ %]
[% USE hcart = Handel.Cart %]
[% carts = hcart.search %]
<body>
    [% WHILE (cart = carts.next) %]
		<cart>
			<count>[% cart.count %]</count>
			<description>[% cart.description %]</description>
			<id>[% cart.id %]</id>
			<name>[% cart.name %]</name>
			<shopper>[% cart.shopper %]</shopper>
			<subtotal>[% cart.subtotal %]</subtotal>
			<type>[% cart.type %]</type>
		</cart>
    [% END %]
</body>
