[%# $Id: checkout_messages.tt2 1167 2006-05-31 01:50:19Z claco $ %]
[% USE hcheckout = Handel.Checkout %]

<body>

	[% IF (checkout = hcheckout.new) %]
		[% CALL checkout.add_message('This is a new message') %]
		<messages>
			[% FOREACH message = checkout.messages %]
				<message>[% message %]</message>
			[% END %]
		</messages>
	[% END %]

</body>
