[%# $Id: /local/Handel/trunk/t/htdocs/tt2/checkout_messages.tt2 1569 2007-06-24T15:35:46.298350Z claco  $ %]
[% USE hcheckout = Handel.Checkout %]

<body>

	[% IF (checkout = hcheckout.new) %]
		[% CALL checkout.add_message('This is a new message') %]
		<messages>
			[% FOREACH message = checkout.messages %]
				<message>[% message %]</message>
			[% END %]
		</messages>
	[% END %]

</body>
