[%# $Id: checkout_messages.tt2 1915 2007-06-24 15:35:46Z claco $ %]
[% USE hcheckout = Handel.Checkout %]

<body>

	[% IF (checkout = hcheckout.new) %]
		[% CALL checkout.add_message('This is a new message') %]
		<messages>
			[% FOREACH message = checkout.messages %]
				<message>[% message %]</message>
			[% END %]
		</messages>
	[% END %]

</body>
