[%# $Id: checkout_phases.tt2 1915 2007-06-24 15:35:46Z claco $ %]
[% USE hcheckout = Handel.Checkout %]

<body>
	[% IF (checkout = hcheckout.new) %]
		<phases>
			[% FOREACH phase = checkout.phases %]
				<phase>[% phase %]</phase>
			[% END %]
		</phases>
	[% END %]

	[% IF (checkout = hcheckout.new({phases => 'CHECKOUT_PHASE_AUTHORIZE CHECKOUT_PHASE_DELIVER'})) %]
		<phases>
			[% FOREACH phase = checkout.phases %]
				<phase>[% phase %]</phase>
			[% END %]
		</phases>
	[% END %]
</body>
