[%# $Id: constants.tt2 1915 2007-06-24 15:35:46Z claco $ %]
[% USE Handel.Constants %]
[% USE hconstants = Handel.Constants %]
<body>
	<typesaved>[% hconstants.CART_TYPE_SAVED %]</typesaved>
	<typesaved>[% Handel.Constants.CART_TYPE_SAVED %]</typesaved>
</body>
